@import "tailwindcss";

@theme {
  --color-foreground: #171717;
  --color-primary: #121E6C;
  --color-secondary: #EE424E;
  --color-dark-grey: #606060;
  --color-light-grey: #F3F3F3;
  --font-sans: var(--font-montserrat-sans);
}
